body {
  background-color: #0F8790; 
  color: #fff;
}
body a {
  color: #eee;
}
h1 {
  color: #eee;
  font-family: 'Lobster', cursive;
}
h1 small { color: #bbb; }
h1 span { color: #d0d0d0; }

h1, #breakdown {
  margin-top: 35px;
}
header.page-header {
  margin-bottom: 10px;
}

div.well.well-password {
  background-color:#1C99A6;
  border:#0C8996;
}

div.well.well-result {
  background-color:#0C9689;
  border:#0C9689;
}

div.well.well-signup {
  background-color:#3B577F;
  border:#08474E;
}

div.well {
  padding-bottom: 1px;
}

input#result {
  cursor: default;
}
label#result-label {
  margin-bottom: -30px; /* long labels don't push down button */
}

span.add-on {
  color: #666;
}

#result-identifier {
  cursor: default;
}

#create-account-group small {
  color: #bbb;
}

html,body{
    height: 100%
}

#holder{
    min-height: 100%;
    position:relative;
}

#holder > .container {
    padding-bottom: 100px;
}

footer {
    height: 100px; 
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0; 
    font-size: 12px;
}

footer hr {
  border-color: #2F97A0; 
}
