<!DOCTYPE html>
<html lang="en">
	<head>
		<title>password.ly</title>
		<link rel="stylesheet" href="static/css/bootstrap.css">
	</head>
	<body class="container-fluid">
			<header class="page-header">
				<h1>password.ly</h1>
			</header>
			<article>
				{% block alerts %}
				{% endblock alerts %}
				{% block content %}
				<p>Default content to be displayed</p>
				{% endblock content %}
			</article>
			<script src="static/js/lib/jquery-1.8.2.min.js"></script>
			<script src="static/js/lib/bootstrap.min.js"></script>
			{% block scripts_end %}
			{% endblock scripts_end %}
		</body>
</html>
