<!DOCTYPE html>
<html lang="en">
	<head>
		<title>password.ly</title>
    <link rel="shortcut icon" href="/favicon.ico">
		<link rel="stylesheet" href="/static/css/bootstrap.css">
		<link rel="stylesheet" href="/static/css/styles.css">
    <link href='//fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
	</head>
	<body class="container-fluid">
    <div id="holder">
      <div class="container">
        <div class="row">
          <div class="{% if username %}offset3 {% endif %}span6">
            <header class="page-header">
              <h1>password<small>.ly</small><span>{% if username %}/<span id="username">{{username}}</span>{% endif %}</span></h1>
            </header>
            <article>
              {% if message %}
                <div class="alert alert-success">{{message}}</div>
              {% endif %}

              {% block alerts %}
              {% endblock alerts %}
              {% block content %}
              <p>Default content to be displayed</p>
              {% endblock content %}
            </article>
          </div>
          {% if not username %}
          <div id="breakdown" class="span5 offset1">
            <h4>What is this?</h4>
            <p>Password.ly helps you use a different password for each website.
               You only need to remember one.</p>
            <h4>How does it work?</h4>
            <p>We use a repeatable one-way algorithm 'bcrypt' to convert your master 
              and site name into a new password. It is not possible to obtain your
              master password given result passwords.</p>
            <h4>Why use password.ly?</h4>
            <p>The way we generate passwords means we don't have to store anything
              on our side (unless you want us to). The passwords we generate are 
              the same whether you use our website, offline application or any
              mobile apps.</p>

           </div>
           {% endif %}
        </div>
        <footer>
          <hr>
          Built with <a href="http://twitter.github.com/bootstrap/">Bootstrap</a>, <a href="http://bootswatch.com/amelia/">Amelia</a>, <a href="http://fortawesome.github.com/Font-Awesome/">FontAwesome</a>, <a href="http://www.google.com/webfonts/specimen/Lobster">Lobster</a>, <a href="http://code.google.com/p/zeroclipboard/">ZeroClipboard</a> and <a href="http://www.jquery.com">jQuery</a>. Shoot any queries through to <script language="javascript" type="text/javascript">var e='a</o.zd.c@yu\">j.za.coyud:j@ltomaif=\"hre<a ';var l=42;var s='';for(var k=0;k<=l/3;k++)s+=e.substring(l-k*3,l-k*3+3);s+='a>';document.write(s);</script><noscript><span>j&nbsp;[at]</span><span style="display:none;">at</span>&nbsp;yud &lt;dot&gt; co &lt;dot&gt; za</noscript>. Source at <a href="http://www.github.com/passwordly/password.ly">http://www.github.com/passwordly/password.ly</a>. Command line client <a href="https://github.com/passwordly/pw">https://github.com/passwordly/pw</a>.
        </footer>
      </div>
    </div>
			<script src="/static/js/lib/jquery-1.8.2.min.js"></script>
			<script src="/static/js/lib/bootstrap.min.js"></script>
      <script src="/static/js/lib/ZeroClipboard.min.js"></script>
      <script src="/static/js/script.js"></script>
      <script type="text/javascript">
        {% block scripts_end %}
        {% endblock scripts_end %}
      </script>
		</body>
</html>
