{% extends "base.html" %}

{% block content %}
<form method="POST" action="/generate">
	<h3>Login</h3>
	<div class="control-group">
		<label>Enter your master password</label>
		<div class="controls">
			<input type="password" name="password" id="password" required>
		</div>
	</div>
  <div class="control-group">
    <label for="identifier">What will this new password be used for?</label>
    <div class="controls form-inline">
      <input type="text" name="identifier" id="identifier" required>
    </div>
  </div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary btn-large" value="Enter">
		</div>
	</div>
</form>
{% endblock content %}

{% block scripts_end %}
<script>
	$(document).ready(function(){
		$('.progressively-removed').hide();
		$('#password').on('blur', function(){
			//$(this).after("<span>Checking</span>");
			$('#authenticated').collapse('toggle');
		});
	});
</script>
{% endblock scripts_end %}
