{% extends "public/base.htm" %}

{% block result %}

{% if result %}
<div class="well well-result">
  {% include "components/results.htm" with context %}
</div>
{% endif %}

<div class="well well-signup">
  {% if error %}
  <div class="alert alert-error">
    {{error}}
  </div>
  {% endif %}

  <form method="POST" action="/signup" class="form-horizontal">
  <input type="hidden" name="hash" value="{{hash}}">
	<div class="control-group">
    <label class="control-label" for="result">Password site:</label>
		<div class="controls">
			<input type="text" id="result-site" name="site" class="input-block-level" value="{{site}}" readonly="readonly">
		</div>
  </div>
	<div class="control-group">
    <label class="control-label" for="result">Username:</label>
		<div class="controls">
      <div class="input-prepend">
        <span class="add-on">password.ly/</span>
        <input type="text" name="username" value="{{new_username}}" class="span2" placeholder="your username" required>
      </div>
		</div>
  </div>
  <div class="control-group" id="create-account-group">
    <div class="controls">
      <input id="copy-result" type="submit" name="submit" class="btn btn-primary btn-danger btn-block" value="Create an account ($15/year)">
      <small>You will be taken to PayPal for payment</small>
    </div>
  </div>

  <hr/>
  <p>There are many advantages to having a password.ly account. We'll be able to check the master password you enter for typo's, keep a record of all the sites you enter, enter comments with each password (so you can remember usernames/etc), and more.</p>
  </form>

</div>

{% endblock result %}

