{% extends "public/base.htm" %}

{% block result %}

<div class="well well-result" style="background-color:#d5f5d5;border:#c5f5c5;">
  {% include "components/results.htm" with context %}
</div>

<div class="well well-signup" style="background-color:#f5f5c5;border:#f5f5b5;">
	<div class="control-group">
    <label class="control-label" for="result">Password identifier:</label>
		<div class="controls">
			<input type="text" id="result-identifier" class="span2" value="{{identifier}}" readonly="readonly">
		</div>
  </div>
	<div class="control-group">
    <label class="control-label" for="result">Username:</label>
		<div class="controls">
      <div class="input-prepend">
        <span class="add-on">password.ly/</span>
        <input type="text" name="username" class="span2">
      </div>
		</div>
  </div>
  <div class="control-group">
    <div class="controls">
      <div id="copy-result-container" style="position:relative">
        <input id="copy-result" type="submit" name="submit" class="btn btn-primary btn-danger" value="Create an account ($15/year)">
      </div>
    </div>
  </div>
  <hr/>
  <p>There are many advantages to having a password.ly account. We'll be able to check the master password you enter for typo's, keep a record of all the sites you enter, enter comments with each password (so you can remember usernames/etc), and more.</p>

</div>

{% endblock result %}

