{% extends "base.htm" %}

{% block content %}
<form method="POST" action="/" class="form-horizontal">
  <div class="well well-password" style="background-color:#e5e5e5;border:#d5d5d5;">
	<div class="control-group">
		<label for="password" class="control-label">Enter master password:</label>
		<div class="controls">
      <div class="input-append">
        <input type="password" name="password" id="password" class="span3" required>
        <span id="password-result" class="add-on"><i class="icon-ok-sign"></i></span>
      </div>
		</div>
	</div>
  <div class="control-group">
    <label for="identifier" class="control-label">Create password for:</label>
    <div class="controls">
      <input type="text" name="identifier" id="identifier" class="span3" required>
    </div>
  </div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary span3" value="Generate new password">
		</div>
	</div>
  </div>
  {% block result %}
  {% endblock result %}
</form>
{% endblock content %}

{% block scripts_end %}
	$(document).ready(function(){
    passwordly.autocompleteIdentifier(function() {
      return items;
    });
    var items = [];

    $('#password').anychange(function() {
      var correct = ($(this).val() == 'hello');

      if (correct) {
        $('#password-result').html('<i class="icon-ok-circle" style="color:#494; font-size:18px;"></i>');
      }else{
        $('#password-result').html('<i class="icon-ban-circle" style="color:#666; font-size:18px;"></i>');
      }

      if (correct) {
        items = ['gmail', 'facebook', 'google', 'google-apps'];
      }else{
        items = [];
      }

    });
	});
{% endblock scripts_end %}
