{% extends "private/base.htm" %}

{% block result %}

<form method="POST" action="/{{username}}/add-password" class="form-horizontal">
<input type="hidden" name="password" value="{{password}}" />

<div class="well well-result">
  <p>The password you entered <strong>was not recognised.</strong>
     If this is a new password and would like to save it to your
     account, we need you to enter any of your other passwords in
     order to confirm your identity.
  </p>
	<div class="control-group">
		<label for="confirm-password" class="control-label">Confirm new password:</label>
		<div class="controls">
      <input type="password" name="confirm-password" class="span3" required>
		</div>
	</div>
	<div class="control-group">
		<label for="existing-password" class="control-label">Any existing password:</label>
		<div class="controls">
      <div class="input-append">
        <input type="password" name="existing-password" id="existing-password" class="span3" value="{{password}}" required>
        <span id="existing-password-result" class="add-on"><i class="icon-ban-sign"></i></span>
      </div>
		</div>
	</div>
	<div class="control-group">
		<div class="controls">
			<input type="submit" class="btn btn-primary span3" value="Save password for future use">
		</div>
	</div>
</div>
</form>

{% endblock result %}

